.env
.env.local
.env.development
.env.production

__pycache__/
*.py[cod]
.venv/
venv/
*.sqlite3
.pytest_cache/
*.db
backend/*.db

node_modules/
dist/
.vite/

installer/dist/
*.msi
*.wixpdb
*.wixobj
installer/**/*.msi
installer/**/*.exe
installer/**/*.zip

desktop-electron/node_modules/
desktop-electron/dist/
desktop-electron/out/
desktop-electron/*.exe
desktop-electron/*.msi

.DS_Store
Thumbs.db
